<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swapingscreens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B23BE401F3A9FC800C4D9C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B23BE541F3A9FC800C4D9C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B23BE5F1F3A9FC900C4D9C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
